<aside class="sidebar-right" th:fragment="rightSidebar(active)">
    <link rel="stylesheet" href="/css/private/blocks/right-sidebar.css" />
    <div class="card card--sticky nav-card">
        <div class="nav-title">Navigation</div>

        <nav class="nav">
            <a class="nav__item"
               th:href="@{/post}"
               th:classappend="${active}=='post' ? ' is-active' : ''">
                <img class="nav__icon" th:src="@{/images/private/sidebar-icons/post.png}" src="/images/private/sidebar-icons/post.png" alt="" aria-hidden="true" />
                <span class="nav__label">New Post</span>
            </a>

            <a class="nav__item"
               th:href="@{/profile}"
               th:classappend="${active}=='profile' ? ' is-active' : ''">
                <img class="nav__icon" th:src="@{/images/private/sidebar-icons/profile.png}" src="/images/private/sidebar-icons/profile.png" alt="" aria-hidden="true" />
                <span class="nav__label">Profile</span>
                </a>

            <a class="nav__item"
               th:href="@{/home}"
               th:classappend="${active}=='home' ? ' is-active' : ''">
                <img class="nav__icon" th:src="@{/images/private/sidebar-icons/home.png}" src="/images/private/sidebar-icons/home.png" alt="" aria-hidden="true" />
                <span class="nav__label">Home</span>
                </a>

            <a class="nav__item"
               th:href="@{/messages}"
               th:classappend="${active}=='messages' ? ' is-active' : ''">
                <img class="nav__icon" th:src="@{/images/private/sidebar-icons/messages.png}" src="/images/private/sidebar-icons/messages.png" alt="" aria-hidden="true" />
                <span class="nav__label">Messages</span>
                </a>

            <a class="nav__item"
               th:href="@{/friends}"
               th:classappend="${active}=='friends' ? ' is-active' : ''">
                <img class="nav__icon" th:src="@{/images/private/sidebar-icons/friends.png}" src="/images/private/sidebar-icons/friends.png" alt="" aria-hidden="true" />
                <span class="nav__label">Friends</span>
                </a>
        </nav>
    </div>
</aside>
