<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ISC | Sign up</title>
  <link rel="stylesheet" href="/css/public/auth/auth.css" />
</head>
<body>
<header th:replace="~{public/blocks/public-header :: header}"></header>

<main class="container auth">
  <section class="auth__card card">
    <h1>Create account</h1>
    <p class="muted">Join the community. Be normal. Or at least respectful.</p>

    <form class="form" method="post" th:action="@{/auth/register}" th:object="${registrationRequest}">
      <div class="grid2">
        <label class="field">
          <span>First name</span>
          <input class="input" th:field="*{firstName}" name="firstName" placeholder="John" required />
          <small class="error"
                 th:if="${#fields.hasErrors('firstName')}"
                 th:errors="*{firstName}">
          </small>
        </label>
        <label class="field">
          <span>Last name</span>
          <input class="input" th:field="*{lastName}" name="lastName" placeholder="Johnson" required />
          <small class="error"
                 th:if="${#fields.hasErrors('lastName')}"
                 th:errors="*{lastName}">
          </small>
        </label>
      </div>

      <label class="field">
        <span>Username</span>
        <input class="input" th:field="*{username}" type="text" placeholder="TheBestStudent" required>
        <small class="error"
               th:if="${#fields.hasErrors('username')}"
               th:errors="*{username}">
        </small>
      </label>

      <label class="field">
        <span>Email</span>
        <input class="input" th:field="*{email}" type="email" name="email" placeholder="you@school.edu" required />
        <small class="error"
               th:if="${#fields.hasErrors('email')}"
               th:errors="*{email}">
        </small>
      </label>

      <label class="field">
        <span>Password</span>
        <input class="input" th:field="*{password}" type="password" name="password" minlength="8" required />
        <span class="hint muted">At least 8 characters. </span>
        <small class="error"
               th:if="${#fields.hasErrors('password')}"
               th:errors="*{password}">
        </small>
      </label>

      <button class="btn btn--primary btn--block" type="submit">Sign up</button>
    </form>

    <div class="auth__footer">
      <span class="muted">Already have an account?</span>
      <a th:href="@{/auth/login}">Sign in</a>
    </div>
  </section>
</main>

<footer th:replace="~{public/blocks/public-footer :: footer}"></footer>

</body>
</html>
