<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" th:href="@{/favicon.png}" href="/favicon.png" />

    <title>ISC | International Student Community</title>
    <link rel="stylesheet" href="/css/public/auth/auth.css" />
</head>
<body>
<header th:replace="~{public/blocks/public-header :: header}"></header>

<main class="snap">
    <!-- Screen 1 -->
    <section class="snap__page">
        <div class="container">
            <div class="hero__left">
                <h1>ISC - International Student Community</h1>
                <h3>Chat, post, make friends</h3>
                <p class="muted"></p>

            </div>
        </div>
        <div class="scroll-hint" aria-hidden="true">Scroll</div>
    </section>

    <!-- Screen 2 -->
    <section class="snap__page">
        <div class="container">
            <div class="section-block">
                <h2></h2>
                <p class="muted"></p>
            </div>
        </div>
        <div class="scroll-hint" aria-hidden="true">Scroll</div>
    </section>

    <!-- Screen 3 -->
    <section class="snap__page">
        <div class="container">
            <div class="section-block">
                <h2></h2>
                <p class="muted"></p>
            </div>
        </div>

        <footer th:replace="~{public/blocks/public-footer :: footer}"></footer>
    </section>

</main>
</body>
</html>

